# Python
__pycache__/
*.py[cod]
*.pyc
.venv/
venv/
env/
*.egg-info/


# Data files (output dan database binary)
*.parquet
*.csv
!flows/**/*.csv
*.db
*.sqlite
output.*

# Docker volumes (bind mounts data)
ny_taxi_postgres_data/
**/ny_taxi_postgres_data/
pgadmin_data/
kestra_data/
kestra_postgres_data/

# Credentials
*.json
!package.json
!package-lock.json
.env
.env.*
*-credentials.json
*-key.json

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Kestra specific
.kestra/
